@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}
body {
	text-align: center;
	background-color: #faf8ef;
}
body > h1 {
	font-size: 2.5rem;
	color: #776e65;
	line-height: 1;
	margin-bottom: 0.75rem;
	padding-top: 2.5rem;
}
body > p {
	font-size: 1rem;
	color: #776e65;
	line-height: 1.25;
	padding-bottom: 1.5rem;
	opacity: 0.75;
}
div.container {
	display: inline-block;
	width: 900px;
	padding: 2rem 1rem;
	padding-top: 0;
}
div.game {
	display: block;
	width: calc(550px - 2rem);
	height: calc(550px - 2rem);
	background-color: #bbada0;
	box-sizing: border-box;
	padding: 0.5rem;
	font-size: 0;
	border-radius: 5px;
}
div.game div {
	border-radius: 5px;
	background-color: rgba(238, 228, 218, 0.35);
	margin: 0.5rem;
	width: calc(25% - 1rem);
	height: calc(25% - 1rem);
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	box-sizing: border-box;
	font-weight: 800;
	font-size: 3rem;
	color: #776e65;
	text-align: center;
}
div.game > div.num2 {
	background: #eee4da;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}
div.game > div.num4 {
	background: #ede0c8;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}
div.game > div.num8 {
	color: #f9f6f2;
	background: #f2b179;
}
div.game > div.num16 {
	color: #f9f6f2;
	background: #f59563;
}
div.game > div.num32 {
	color: #f9f6f2;
	background: #f67c5f;
}
div.game > div.num64 {
	color: #f9f6f2;
	background: #f65e3b;
}
div.game > div.num128 {
	color: #f9f6f2;
	background: #edcf72;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
	font-size: 45px;
}
@media screen and (max-width: 520px) {
	div.game > div.num128 {
		font-size: 25px;
	}
}
div.game > div.num256 {
	color: #f9f6f2;
	background: #edcc61;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
	font-size: 45px;
}
@media screen and (max-width: 520px) {
	div.game > div.num256 {
		font-size: 25px;
	}
}
div.game > div.num512 {
	color: #f9f6f2;
	background: #edc850;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
	font-size: 45px;
}
@media screen and (max-width: 520px) {
	div.game > div.num512 {
		font-size: 25px;
	}
}
div.game > div.num1024 {
	color: #f9f6f2;
	background: #edc53f;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
	font-size: 35px;
}
@media screen and (max-width: 520px) {
	div.game > div.num1024 {
		font-size: 15px;
	}
}
div.game > div.num2048 {
	color: #f9f6f2;
	background: #edc22e;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
	font-size: 35px;
}
@media screen and (max-width: 520px) {
	div.game > div.num2048 {
		font-size: 15px;
	}
}
div.game > div.num4096, div.game > div.num8192, div.game > div.num16384, div.game > div.num32768, div.game > div.num65536 {
	color: #f9f6f2;
	background: #3c3a32;
	font-size: 30px;
}
@media screen and (max-width: 520px) {
	div.game > div.num4096, div.game > div.num8192, div.game > div.num16384, div.game > div.num32768, div.game > div.num65536 {
		font-size: 10px;
	}
}

div.left {
	display: block;
	width: 550px;
	float: left;
	height: auto;
	overflow: auto;
}
div.right {
	display: block;
	float: left;
	width: 350px;
	overflow: auto;
	border-radius: 5px;
}
div.right div.toparea {
	height: 3.125rem;
	display: block;
	width: 100%;
	float: left;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1.375;
	font-family: "Ubuntu Mono", monospace;
	background-color: #000;
	color: #0f0;
	padding: 0.875rem;
}
div.right div.toparea input, div.right div.toparea button, div.right div.toparea button span {
	border: none;
	background-color: transparent;
	font-size: 1rem;
	line-height: 1.375;
	display: block;
	float: left;
	color: #0f0;
	font-family: "Ubuntu Mono", monospace;
	width: auto;
}
div.right div.toparea button {
	cursor: pointer;
	float: right;
	width: auto !important;
}
div.right div.toparea button span:first-child {
	display: none;
}
div.right div.toparea button.paused span:first-child {
	display: block;
}
div.right div.toparea button.paused span:last-child {
	display: none;
}
div.right div.toparea input, div.right div.toparea button {
	width: 3.5rem;
	margin-left: 0.5rem;
	outline: none;
	opacity: 0.75;
}
div.right div.toparea input:focus, div.right div.toparea button:hover {
	opacity: 1;
}
div.right div.toparea > *{
	font-family: "Ubuntu Mono", monospace;
	display: block;
	float: left;
}
div.right div.console {
	height: calc(550px - 5.125rem);
	overflow-y: hidden;
	width: 100%;
	padding: 0.275rem 0.875rem;
	box-sizing: border-box;
	background-color: #000;
	color: #0f0;
	font-size: 1rem;
	line-height: 1.375;
	text-align: left;
}
div.right div.console p {
	padding: 0.6rem 0;
	font-family: "Ubuntu Mono", monospace;
	display: block;
	float: left;
	width: 100%;
	overflow: auto;
}
div.right div.console p:not(:last-child){
	border-bottom: 1px solid #0f0;
}
